{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <h2>Download</h2>

<!--    <a href='/dev/PycharmProjects/TAI/tai_django/media/logo.jpeg'-->
<!--       download> Download logo </a>-->

<!--  {% for file in files %}-->
<!--  <br>-->
<!--  <a href='?f={{file}}' /> /download/{{file}} </a>-->
<!--  {% endfor %}-->

  <form id="enc" method="POST">
    {% csrf_token %}
    {% for file in encfiles %}
    <br>
    <input type="checkbox" name="file_name" value="{{file}}">
    <label for="file_name">{{file}}</label>
    {% endfor %}
    <br>
    <input type="text" hidden name="type" value="enc">
    <label for="pass">Password: </label>
    <input type="text" id="pass" name="password">
    <button type="submit">Download file</button>
  </form>

  <br>
  <br>
  <form id="notenc" method="POST">
    {% csrf_token %}
    {% for file in unencfiles %}
    <br>
    <input type="checkbox" name="file_name" value="{{file}}">
    <label for="file_name">{{file}}</label>
    {% endfor %}
    <br>
    <input type="text" hidden name="type" value="notenc">
    <label for="pass">Password: </label>
    <button type="submit">Download file</button>
  </form>


{% else  %}
<p>Please log in</p>
<a href="/login">Login</a>
{% endif %}

{% endblock %}